.body_main {
  position: relative;
  margin: 0px;
  background-image: url("../images/bg-pc.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center 0;
}
body header {
  position: relative;
  height: 100px;
  padding: 0px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.4);
  z-index:9999;
}
body header h1 {
  float: left;
}
body header h1 a {
  display: block;
  width: 104px;
  height: 52px;
  padding: 24px;
  background-image: url("../images/logo-s.png");
  background-repeat: no-repeat;
  background-position: center;
  transition: ease 0.7s;
  -webkit-transition: ease 0.7s;
  text-indent: -9999px;
  font-size: 0px;
}
body header h1 a:hover {
  transform: rotateY(180deg);
  transition: 1.8s;
}
body header nav {
  float: right;
}
body header nav .menu {
  display: none;
  position: relative;
  left: 0px;
  width: 200px;
  height: 55px;
  background-color: #F18195;
  line-height: 55px;
  text-align: center;
  font-size: 16px;
  color: #FFF;
}
body header nav li {
  float: left;
  height: 100px;
  line-height: 100px;
}
body header nav li:hover {
  background: rgba(255, 255, 255, 0.6);
}
body header nav li a {
  display: block;
  padding: 0px 15px;
  font-size: 16px;
  color: #F18195;
  font-weight: bold;
  letter-spacing: -1.2px;
  transition: linear 0.1s;
}
body header nav li a:hover {
  border-top: 3px solid #F18195;
  color: #f4c22d;
}
body section .biglogo {
  position: absolute;
  left: 60%;
  top: 30%;
  width: 320px;
  height: 320px;
  background-image: url("../images/mainlogo.png");
  -webkit-background-size: cover;
  background-size: cover;
  transition: 1s;
}
body section .biglogo:hover {
  transform: scale(1.3);
  opacity: 0;
}
body footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 57px;
  padding: 0px 60px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
}
body footer h2 {
  float: left;
  padding: 6px 0px;
}
body footer h2 a {
  display: block;
  width: 115px;
  height: 45px;
  text-indent: -9999px;
  font-size: 0px;
  background-image: url("../images/jyplogo-b.png");
}
body footer section {
  float: right;
  padding-top: 14px;
}
body footer section [class^="flaticon-"] {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #e4e4e4;
  border-radius: 5px;
  margin-right: 10px;
  text-align: center;
}
body footer section [class^="flaticon-"]:hover {
  background: #E8B81A;
  transition: 0.4s;
}
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: "NanumGothic";
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
ol,
li,
dl,
dt,
dd {
  margin: 0px;
  padding: 0px;
}
a {
  color: #000;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}
section > .title {
  height: 51px;
  padding: 34px 0px;
  margin-bottom: 50px;
  background: #F4F4F4;
  text-align: center;
  text-indent: -9999px;
  font-size: 0px;
  text-transform: uppercase;
}
section > .title h2 {
  width: 306px;
  height: 51px;
  margin: 0px auto;
}
section .sect_content {
  max-width: 1000px;
  width: 85%;
  margin: 0px auto 100px;
}
section .list_page {
  height: 30px;
  text-align: center;
}
section .list_page a {
  display: inline-block;
  margin-left: 4px;
  width: 8px;
  height: 8px;
  background: #666;
  border-radius: 20px;
  text-indent: -9999px;
  line-height: 0px;
}
section .list_page a:first-child {
  margin-left: 0px;
}
section .list_page a.on {
  background: #ccc;
}
section .list_page a:hover {
  background: #ccc;
}
section .list {
  margin: 0px auto;
  padding: 40px 0px 10px;
  text-align: center;
  font-size: 0px;
}
section .list li {
  display: inline-block;
  max-width: 150px;
  margin-left: 30px;
}
section .list li:first-child {
  margin-left: 0px;
}
section .list li a {
  display: block;
  border: 1px solid #ccc;
}
section .list li a img {
  width: 100%;
  vertical-align: top;
}
section .list li .list_title {
  display: block;
  margin-top: 6px;
  font-size: 12px;
}
section .list li .list_title span {
  display: block;
  height: 16px;
}


section.disco > .title h2 {
  background-image: url("../images/title-discography.png");
}
section.disco .lang_btn {
  height: 20px;
  margin-bottom: 10px;
}
section.disco .lang_btn a {
  display: block;
  float: left;
  margin-right: 4px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 8px;
  background: #000;
  text-align: center;
  border-radius: 50%;
  color: #FFF;
  text-transform: uppercase;
}
section.disco .lang_btn a:hover {
  border: 1px solid #000;
  width: 18px;
  height: 18px;
  line-height: 18px;
  background: #FFF;
  color: #000;
}
section.disco .album_thumb {
  display: table-cell;
  width: 35.2%;
  max-width: 352px;
  vertical-align: top;
}
section.disco .album_thumb img {
  width: 100%;
  vertical-align: top;
}
section.disco .album_thumb .album_track {
  padding: 10px 0px;
}
section.disco .album_thumb .album_track h2 {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 6px;
}
section.disco .album_thumb .album_track ol {
  list-style-position: inside;
}
section.disco .album_thumb .album_track ol li {
  font-size: 12px;
  height: 18px;
}
section.disco .album_info {
  display: table-cell;
  padding-left: 30px;
}
section.disco .album_info > .title {
  padding: 0px 20px;
  height: 62px;
  line-height: 62px;
  background: #000;
  color: #FFF;
}
section.disco .album_info > .title .subject {
  float: left;
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
}
section.disco .album_info > .title .date {
  float: right;
  font-size: 12px;
}
section.disco .album_info .album_txt {
  font-size: 12px;
  line-height: 18px;
}
section.disco .album_info .album_txt p {
  font-size: 13px;
  padding-top: 18px;
}
section.gallery > .title h2 {
  background-image: url("../images/title-gallery.png");
}
section.gallery .grid_list {
  max-width: 769px;
  margin: 0px auto;
  overflow: hidden;
}
section.gallery .grid_list ul {
  overflow: hidden;
}
section.gallery .grid_list ul li {
  float: left;
  width: 20%;
  /* max-width:150px; */
}
section.gallery .grid_list ul li a {
  display: block;
  margin: 0px 5px 5px 0px;
}
section.gallery .grid_list ul li a img {
  width: 100%;
  vertical-align: top;
}
section.notice > .title h2 {
  background-image: url("../images/title-noti.png");
}
section.notice table {
  width: 100%;
  max-width: 1000px;
  margin-bottom: 5px;
  border-collapse: collapse;
}
section.notice table thead {
  visibility: hidden;
  height: 0px;
  font-size: 0px;
}
section.notice table tbody tr td:nth-child(1) {
  width: 7%;
}
section.notice table tbody tr td:nth-child(2) {
  max-width: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  font-weight: 600;
  padding: 0px 10px;
}
section.notice table tbody tr td:nth-child(3) {
  width: 12%;
}
section.notice table tbody tr th,
section.notice table tbody tr td {
  border-bottom: 1px solid #d4d3d3;
  padding: 14px 0px;
  font-size: 12px;
  color: #999;
  text-align: center;
  background: #FCFCFC;
}
section.notice table tbody tr .bbs_view {
  padding: 30px;
  border-bottom: 3px solid #d4d3d3;
  line-height: 18px;
  text-align: left;
  color: #000;
  background: #FFF;
}
section.notice table tbody tr:first-child th,
section.notice table tbody tr:first-child td {
  border-top: 2px solid #d4d3d3;
  background: #F8F5F2;
}
section.notice table tbody tr:first-child td:nth-child(2) a {
  color: #05abf6;
}
section.video > .title h2 {
  background-image: url("../images/title-video.png");
}
section.video .sect_content {
    width:100%;
}
section.video .movie {
    width:760px; height:480px; margin:0px auto;
}
section.video .movie iframe {
    width:100%; height:100%;
}
section.video .list li {
  max-width: 202px;
}
section.schedule > .title h2 {
  background-image: url("../images/title-sche.png");
}
section.schedule .schedule_title {
  position: relative;
  height: 40px;
  background: #f8f5f2;
  line-height: 40px;
  text-align: center;
}
section.schedule .schedule_title h3 {
  font-size: 13px;
  color: #4a4a49;
}
section.schedule .schedule_title [class^="sche_"] {
  position: absolute;
  top: 0px;
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}
section.schedule .schedule_title .sche_prev {
  left: 0px;
  background-image: url("../images/btn_paging_prev.gif");
}
section.schedule .schedule_title .sche_next {
  right: 0px;
  background-image: url("../images/btn_paging_next.gif");
}




@media screen and (max-width: 769px) {
  .body_main {
    background-image: url("../images/bg-720.jpg");
    background-position: center;
  }
  body header {
    height: 55px;
    background: #FFF;
    padding: 0px;
  }
  body header h1 a {
    width: 60px;
    height: 40px;
    padding: 0px;
    background-size: cover;
    margin: 7px 0px 0px 10px;
  }
  body header nav .menu {
    display: block;
  }
  body header nav .menu:hover + ul {
    display: none;
  }
  body header nav ul {
    display: none ;
    position: absolute;
  }
  body header nav ul li {
    width: 200px;
    height: 46px;
    line-height: 46px;
    background: rgba(255, 255, 255, 0.8);
  }
  body header nav ul li:hover {
    background: rgba(255, 255, 255, 0.9);
  }
  body header nav ul li a:hover {
    border-top: 0px;
    border-left: 5px solid #F18195;
  }
  body section .biglogo {
    left: 50%;
    margin-left: -160px;
    top: 8%;
    transform: scale(0.8);
  }
  body section.disco .sect_content .sect_content {
    margin: 20px auto;
  }
  body section.disco .sect_content .album_thumb,
  body section.disco .sect_content .album_info {
    display: block;
    width: auto;
  }
  body section.disco .sect_content .album_info {
    padding-left: 0px;
  }
  body section.disco .sect_content .list li {
    max-width: 110px;
  }
  body section.gallery .grid_list {
    max-width: 480px;
  }
  body section.gallery .grid_list ul li {
    width: 33.3%;
  }
  body section.notice table tbody tr td:nth-child(1) {
    width: 12%;
  }
  body section.notice table tbody tr td:nth-child(3) {
    width: 10%;
  }
  section.video .movie {
      width:80%; height:360px;
  }
  body section.video .list li {
    max-width: 142px;
  }
}
@media screen and (max-width: 481px) {
  body header {
    height: 40px;
  }
  body header h1 a {
    width: 60px;
    height: 30px;
    margin: 5px 0px 0px 10px;
  }
  body header nav .menu {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
  body header nav:hover + ul {
    display: none;
  }
  body header nav ul {
    display: none;
  }
  body header nav ul li {
    height: 40px;
    line-height: 40px;
  }
  body section.disco > .title {
    height: 50px;
    padding: 0px;
  }
  body section.disco > .title h2 {
    height: 30px;
  }
  body footer {
    height:37px;
    padding:0px 30px;
  }
  body footer h2 a {
    background-size:60%;
    background-repeat:no-repeat;
  }
  body footer section {
      padding-top:8px;
  }
  body footer section [class^="flaticon-"] {
      width:23px; height:23px; line-height:23px; margin-right:8px;
  }
  body footer section [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
      font-size:14px;
  }
  body section.disco .sect_content .list li {
      max-width:90px;
  }
  body section .list li {
      margin-left:10px;
  }
  body section.disco > .title h2 {
      height:50px; line-height:50px; background-size:40%; background-repeat:no-repeat; background-position:center;
  }
  body section.gallery > .title {
      padding:0px;
  }
  body section.gallery > .title h2 {
      height:50px; line-height:50px; background-size:40%; background-repeat:no-repeat; background-position:center;
  }
  body section.video > .title {
      padding:0px;
  }
  body section.video > .title h2 {
      height:50px; line-height:50px; background-size:40%; background-repeat:no-repeat; background-position:center;
  }
  body section.video .movie {
      width:80%; height:240px;
  }
  body section.notice > .title {
      padding:0px;
  }
  body section.notice > .title h2 {
      height:50px; line-height:50px; background-size:40%; background-repeat:no-repeat; background-position:center;
  }
}
